*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#input {
    background-color: black;
    width: 90px;
    height: 30px;
    color: #fff;
    text-align: right;
}

.cal-btns{
    display: flex;
    gap: 30px;

}
.plus{
    display: grid;
}


.minus{
    display: grid;
}


.mul{
    display: grid;
}


.div{
    display: grid;
}